@font-face {
	font-family: 'Muller';
	font-weight: 500;
	font-style: normal;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot');
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff2') format('woff2'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.woff') format('woff'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Muller/muller-medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-weight: 400;
	font-style: normal;
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot');
	src: url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff2') format('woff2'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.woff') format('woff'),
	url('https://cdn.virgilsecurity.com/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

:root {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: var(--dark-grey);
}
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: #fafafa;
}

button {
	border: 0;
	padding: 0;
	background-color: transparent;
}

button:hover {
	cursor: pointer;
}

button:focus, input:focus {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.logo {
	margin-left: 30px;
	margin-top: 16px;
}

.alert-container {
	top: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 100%;
}

h2 {
	font-size: 34px;
	color: #9E3621;
}

p {
	color: #333333;
	font-size: 18px;
	text-align: center;
}

.alert {
	max-width: 500px;
	min-height: 246px;
	background-image: url('/icon.svg');
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
